.forget {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
    background-color: #F4F7FA;
}
.forget_sec input {
    display: block;
    width: 350px;
    height: 27px;
    border-radius: 16px;
    border: 1px solid #E0E0E0; 
    padding:10px;
    background-color: #FFFFFF;
}
.forget_sec button {
    background-color: #03B252;
    outline: none;
    border: none;
    height: 47px;
    border-radius: 16px;
    padding: 10px;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 2rem;
    cursor: pointer;
    width: 360px;

}
.forget div p {
    color: #5D6B78;
    font-size: 14px;
    margin-top: -17px;
    margin-bottom: 2.5rem;
}
.forget div h2 {
    font-size: 27px;
    font-weight: 900;
    padding: 10px;
}
.back {
    text-decoration: none;
    color: #5D6B78;
    padding: 15px;
    font-size: 14px;
}