.goal {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #F4F7FA;
}

.goals {
    width: 180px;
    height: 50px;
    border-radius: 16px;
    border: 1px solid #E0E0E0;
    cursor: pointer;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
}
.goal_c {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-top: 1.5rem;
}
.goal div h3 {
    font-size: 25px;
    font-weight: 600;
}
.goal div p {
    margin-top: -19px;
    color: #5D6B78;
}